.CFUserTextEncoding
	.DS_Store
	.anydesk/
	.gitconfig
	.lesshst
	.vscode/
	.yandex/
	.zsh_history
	.zsh_sessions/
	Desktop/
	Documents/
	Downloads/
	Library/
	Movies/
	Music/
	Pictures/
	Public/
	dev/
